<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PictureProcessing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CDD6A521F629A5500163F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDD6A6B1F629A5500163F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDD6A761F629A5500163F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
